#root {
  height: 100vh;
  width: 100%;
}

/* .messages {
  height: 60%;
  overflow-y: scroll;
  padding: 0 20px;

  margin: 10% auto 0 auto;
  width: 80%;
} */

/* custom scrollbar styles */
/* #messages {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);
} */

/* #messages::-webkit-scrollbar {
  width: 6px;
}

#messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

#messages::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */

.messageForm {
  height: 10%;
  width: 100%;
}

.messageInput {
  height: 40px;
  width: 80%;
}
.messageButton {
  height: 46px;
  width: 10%;
  border: 2px solid #4caf50;
  padding: 1px 2px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
}

.messageHeader {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 10px;
}
